{% extends "core/base.html" %}

{% load static %}

{% block headers %}  
<main class="main-index">
<section class="container-title">
    <div class="title-medioambiente">
         <h2 class="medioambiente">Nosotros</h2>
    </div>
</section>
</main>
{% endblock %}  

{% block content %}
<main class="main-index">
<section class="quienes_somos">
    <br><br>
    <h1>Corporativa - Solar Energy</h1>
    <br>
        
    <br>
    <p class="p-index">Bienvenidos a Solar Energy. Somos una empresa líder en la venta e instalación de paneles solares para hogares. Nuestro equipo de expertos cuenta con más de 10 años de experiencia en el sector energético. Nuestra misión es proveer energía limpia y sostenible a todos los hogares, contribuyendo así a un futuro más verde. Aspiramos a ser la empresa líder en soluciones solares tanto a nivel nacional como internacional.</p>
    <br><br>
    <h2>Nuestros Productos y Servicios:</h2>
    <br>
    <p class="p-index">Ofrecemos paneles solares de alta eficiencia y durabilidad, con una garantía de 25 años. Nuestros servicios de instalación son realizados por profesionales, asegurando una instalación segura y eficiente. Además, brindamos evaluaciones personalizadas de energía y diseño de sistemas a medida. También proporcionamos servicios de mantenimiento y soporte, incluyendo monitoreo y mantenimiento regular, así como asistencia técnica continua.</p>
    <h3>Casos de Éxito:</h3>
    <br>
    <p class="p-index">Hemos realizado numerosas instalaciones exitosas que destacan por su eficiencia y calidad. Presentamos algunos proyectos destacados y testimonios de clientes satisfechos. Nuestros sistemas han generado una gran cantidad de energía, resultando en ahorros significativos y una considerable reducción de CO2.</p>
  
</section>
    
<section class="medio-ambiente1">
    <div class="container-medioamb1">
        <h2 class="title-med">Medioambiente y Beneficios</h2>
        <h1 class="description-med1">Estamos viviento momentos decisivos</h1>
    </div>
    <p class="p-index">La pausa en las actividades humanas a instancias de la pandemia del COVID 19 explicitó el impacto ambiental de una sociedad basada en el uso de combustibles fósiles</p>
    <div class="container-medioamb2">
        <h1>Reduccion de la contaminacion durante el confinamiento por COVID 19:</h1>
    </div>
</section>
<section class="container-img">
    <div class="vista-de-img">
        <div class="imagen-container">
            <img class="imagen" src="{% static 'core/img/imagen-bsas.jpg' %}" alt="img1">
        </div>
        <div class="imagen-container">
            <img class="imagen" src="{% static 'core/img/imagen-cordoba.jpg' %}" alt="img2">
        </div>
        <div class="imagen-container">
            <img class="imagen" src="{% static 'core/img/imagen-mendoza.jpg' %}" alt="img3">
        </div>
        <div class="imagen-container">
            <img class="imagen" src="{% static 'core/img/imagen-rosario.jpg' %}" alt="img4">
        </div>
        <div class="imagen-container">
            <img class="imagen" src="{% static 'core/img/imagen-tucuman.jpg' %}" alt="img5">
        </div>
    </div>
</section>
<section class="container-medioambiente3">
    <div class="lista-med">
        <h1>El predominio de la energía fósil nos trajo hasta aquí:</h1>
        <ul class="container-item">
            <li class="items">Los cambios meteorológicos amenazan la sostenibilidad de la producción de alimentos.</li>
            <li class="items">El aumento del nivel de los mares incrementa el riesgo de inundaciones catastróficas.</li>
            <li class="items">La concentración de gases de efecto invernadero se encuentra en niveles que ponen en riesgo la sostenibilidad de la vida humana y de miles de especies que se extinguen día a día.</li>
            <li class="items">Los bosques nativos se destruyen irremediablemente.</li>
            <li class="items">El calentamiento global produce daños ambientales irreversibles.</li>
            <li class="items">La modificación del clima altera los ecosistemas y destruye el hábitat de la fauna salvaje que se ve obligada a migrar hacia nuevos sitios, favoreciendo la propagación de virus y bacterias hasta ahora desconocidos en humanos.</li>
        </ul>
    </div>
</section>
  
   
<section class="container-medioambiente4">
    <div>
        <h1>La vida humana no precisa destruir el planeta para desarrollarse.</h1>
        <br>
    </div>
</section>
<section class="container-medioambiente5">
    <div>
        <img class="huellaco2" src="{% static 'core/img/huella-de-carbono1-150x150.webp' %}" alt="img-huella-carbono">
        <br>
        <h3>La energía solar mejora nuestra huella de carbono</h3>
        <p class="p-index">La huella de carbono refleja el impacto de nuestras actividades en la emisión de dióxido de carbono (CO2), uno de los principales causantes del efecto invernadero.</p>
        
    </div>
</section>
    
<section class="container-medioambiente6">
    <div>
        <img class="indice-de-Co2" src="{% static 'core/img/matriz.webp'%}" alt="">
        <h1>Nuestra matriz energética</h1>
        <p class="p-index">La energía eléctrica generada en Argentina es fuertemente dependiente de los combustibles fósiles. Dos tercios de esta energía se produce en centrales térmicas alimentadas a gas, petróleo o carbón, por lo que cada kilowatt que nos llega a través de la red de distribución acarrea la emisión de grandes cantidades de CO2. Reemplazarla por energía solar generada en nuestros hogares reduce drásticamente el impacto ambiental de nuestras actividades diarias.</p>
        <br>
        <br>
    </div>
</section>
<section class="container-medioambiente7">
    <div>
        <div>
            <img class="imagen-arbol" src="{% static 'core/img/arbolito.png' %}" alt="arbolitoCo2">
        </div>
        <h1>Vos podés mejorar la situación</h1>
    </div>
</section>

<section class="container-medioambiente8">
    <div class="recuadro">
        <div class="conteiner-text">
            <p class="p-index">Reemplazar la energía que nuestro hogar consume de la red eléctrica por nuestra propia energía solar equivale a plantar</p> 
        </div>
        <div class="container-num">
            <span id="counter">0</span> 
        </div>
        <p>arboles cada año</p>
    </div>
        
</section>
<br>
<br>
<section class="container-list"> 
    <div class="container-item">
        <h1>¿Por qué la generación solar propia es la mejor solución?</h1>
        <ul>
            <li>El sol es una fuente de energía inagotable y limpia.</li>
            <li>La tecnología fotovoltaica produce energía sin emitir CO2.</li>
            <li>Los paneles solares compensan el CO2 generado durante su fabricación en menos de un año</li>
            <li>La generación propia domiciliaria (llamada generación distribuida) genera la energía en el mismo lugar donde se va a utilizar, evitando así las pérdidas producidas al transportar la energía desde las centrales generadoras a los puntos de consumo (pérdidas en cables, transformadores, etc.).</li>
            <li>Cuando generamos nuestra propia energía estimulamos la conciencia ambiental en nuestras familias, amigos y vecinos.</li>
            <li>Es una herramienta para lograr que nuestro paso por el mundo tenga consecuencias favorables.</li>
        </ul>
    </div>
    <div class="ventajas">
        <h2>Los paneles solares son una de las formas de ahorrar energía y ayudar al planeta.</h2>
        <p class="p-index">Las ventajas son:</p>
        <ul>
            <li>Son capaces de transformar los rayos solares, que nos llegan diario y en enormes cantidades, en energía eléctrica como la que usa los electrodomésticos.</li>
            <li>No necesitan de procesos químicos ni de combustión que dejen residuos dañinos en el ambiente en su producción.</li>
            <li>No generan residuos ni partículas pesadas en el aire.</li>
            <li>Con la energía solar ayudaríamos a disminuir el impacto del cambio climático como desastres naturales.</li>
            <li>Contribuyen a la autosuficiencia energética, o sea pagas menos y necesitas menos de compañías eléctricas.</li>
            <li>Permitirían, por ejemplo, el acceso a la electricidad en las zonas menos favorecidas.</li>
            <li>Necesitamos comprarlos más para que sean más baratos y puedan llegar.</li>
            <li>Son súper versátiles: se pueden instalar a gran escala para toda una ciudad o en pequeñas instalaciones para una casa o un pueblo.</li>
            <li>Los mantenimiento son mínimos en comparación con otros sistemas de energía.</li>
            <li>Su vida útil es muy larga y están fabricados para aguantar condiciones climáticas adversas.</li>
            <li>Una casa u hogar con módulos fotovoltaicos resulta llamativa en el mercado inmobiliario. Estos beneficios pueden proyectarse a residencias y departamentos.</li>
            <li>Uno de los sectores económicos con más beneficios en la instalación de este tipo sistemas es el sector agrícola.</li>
            <li>Incluso después de su instalación, no será necesario usar grandes cantidades de agua para su limpieza, incluso la lluvia puede realizar ese trabajo.</li>
            <li>Los módulos solares pueden adaptarse a cualquier zona, no requieren que se construyan nuevas estructuras o edificios para instalarlos.</li>
            
        </ul>
        
    </div>
</section>

<section class="container-beneficios9">
    <div class="imag">
        <img class="img-hogar" src="{% static 'core/img/solar-panels.jpg' %}" alt="img-paneles-hogar">
    </div>
    <div>
            
        <h1>¿Vamos a dejar un mundo mejor que el que recibimos?</h1>
    </div>
</section>
<section class="container-medioambiemte10">
    <div>
        <p class="p-index">Dar un paso hacia las energías renovables es cuidar el planeta para nosotros, nuestros hijos y las futuras generaciones.</p>
    </div>
</section>
<section class="container-medioambiente11">
    <div>
        <img class="img-person" src="{% static 'core/img/people-2590527_1280.jpg' %}" alt="img-people">
    </div>
    <div>
           
        <p class="p-index">Lideremos esta transformación.</p>
    </div>
</section>
</main>
<script src="{% static 'core/js/beneficios.js' %}"></script>
{% endblock %}

